.link-button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;
    
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    background-color: var(--wine);
    border-radius: .6rem;
    color: var(--bone);
    

    height: 5rem;
    width:21rem;
}